<%= stylesheet_link_tag "show_view/text", :media => "all" %>

<h1 class = "heading">New Article</h1>

<%= form_with scope: :article, url: articles_path,local: true do |form| %>
  <p class = "content">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p class = "content">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
