<%= stylesheet_link_tag "show_view/text", :media => "all" %>
<%= javascript_include_tag "jquery.particleground.min" %>
<%= javascript_include_tag "demo" %>
<div>
  <div>
    <div id="particles"></div>
    <h1 class = "heading">New Article</h1>
  </div>

    <%= form_with scope: :article, url: articles_path,local: true do |form| %>
    <% if @article.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <p class = "content">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p class = "content">
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.submit %>
    </p>
    <% end %>

  <%= link_to 'Back', articles_path %>
</div>
