<%= stylesheet_link_tag "show_view/text", :media => "all" %>
<%= javascript_include_tag "jquery.particleground.min" %>
<%= javascript_include_tag "demo" %>
<div>
  <div>
    <div id="particles"></div>
    <h1 class = "heading">New Article</h1>
  </div>

  <%= render 'form' %>

  <%= link_to 'Back', articles_path %>
